<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button title="Supprimer">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">3.99 €</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">5.00 €</td>
          <td class="qty">4</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">2.50 €</td>
          <td class="qty">50</td>
        </tr>
        <tr>
          <td class="name">Râteau</td>
          <td class="price">13.50 €</td>
          <td class="qty">1000</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
