<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <app-async-icon-button
        [observable]="refresh.bind(this)"
        label="Rafraîchir"
        [icon]="faRotateRight"
        (actionStart)="resetErrorMsg()"
        (actionError)="setErrorMsg($event)"
      ></app-async-icon-button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-icon-button
        [hidden]="selectedArticles.size === 0"
        [observable]="remove.bind(this)"
        label="Supprimer"
        [icon]="faTrashAlt"
        (actionStart)="resetErrorMsg()"
        (actionError)="setErrorMsg($event)"
      ></app-async-icon-button>
    </nav>
    <div class="error">
      {{ errorMsg }}
    </div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading; else data">
          <td colspan="3">
            <div class="loading">
              <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
              <span>Chargement...</span>
            </div>
          </td>
        </tr>
        <ng-template #data>
          <tr
            *ngFor="let a of articleService.articles$ | async"
            (click)="select(a)"
            [class.selected]="selectedArticles.has(a)"
          >
            <td class="name" [title]="a.name">{{ a.name | ellipsis : 15 }}</td>
            <td class="price">
              {{ a.price | currency }}
            </td>
            <td class="qty">{{ a.qty }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</main>
