<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim in debitis
    odio similique dolores. Fugiat molestias est repudiandae quidem incidunt
    temporibus, optio ea autem eius totam harum maiores at explicabo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, soluta!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cumque
    doloribus atque cupiditate minima laudantium esse dolore ducimus
    repellendus? Ab qui quaerat eaque provident! Obcaecati officia non eos neque
    maxime at voluptatum! At amet, illo fugit velit natus facilis aut excepturi
    ipsum! Dolorum totam molestias itaque sed? Modi non eius architecto maiores,
    doloribus voluptas illo eveniet quos amet illum ab quisquam quis, explicabo
    maxime! Numquam, laborum facilis asperiores sequi ad omnis ullam magnam iure
    atque cum amet nostrum harum eum soluta excepturi, odit quaerat? Cupiditate
    atque maxime fugit culpa labore sed quis repellat, vel aut molestias maiores
    quaerat amet deleniti.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim in debitis
    odio similique dolores. Fugiat molestias est repudiandae quidem incidunt
    temporibus, optio ea autem eius totam harum maiores at explicabo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, soluta!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cumque
    doloribus atque cupiditate minima laudantium esse dolore ducimus
    repellendus? Ab qui quaerat eaque provident! Obcaecati officia non eos neque
    maxime at voluptatum! At amet, illo fugit velit natus facilis aut excepturi
    ipsum! Dolorum totam molestias itaque sed? Modi non eius architecto maiores,
    doloribus voluptas illo eveniet quos amet illum ab quisquam quis, explicabo
    maxime! Numquam, laborum facilis asperiores sequi ad omnis ullam magnam iure
    atque cum amet nostrum harum eum soluta excepturi, odit quaerat? Cupiditate
    atque maxime fugit culpa labore sed quis repellat, vel aut molestias maiores
    quaerat amet deleniti.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim in debitis
    odio similique dolores. Fugiat molestias est repudiandae quidem incidunt
    temporibus, optio ea autem eius totam harum maiores at explicabo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, soluta!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cumque
    doloribus atque cupiditate minima laudantium esse dolore ducimus
    repellendus? Ab qui quaerat eaque provident! Obcaecati officia non eos neque
    maxime at voluptatum! At amet, illo fugit velit natus facilis aut excepturi
    ipsum! Dolorum totam molestias itaque sed? Modi non eius architecto maiores,
    doloribus voluptas illo eveniet quos amet illum ab quisquam quis, explicabo
    maxime! Numquam, laborum facilis asperiores sequi ad omnis ullam magnam iure
    atque cum amet nostrum harum eum soluta excepturi, odit quaerat? Cupiditate
    atque maxime fugit culpa labore sed quis repellat, vel aut molestias maiores
    quaerat amet deleniti.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim in debitis
    odio similique dolores. Fugiat molestias est repudiandae quidem incidunt
    temporibus, optio ea autem eius totam harum maiores at explicabo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, soluta!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cumque
    doloribus atque cupiditate minima laudantium esse dolore ducimus
    repellendus? Ab qui quaerat eaque provident! Obcaecati officia non eos neque
    maxime at voluptatum! At amet, illo fugit velit natus facilis aut excepturi
    ipsum! Dolorum totam molestias itaque sed? Modi non eius architecto maiores,
    doloribus voluptas illo eveniet quos amet illum ab quisquam quis, explicabo
    maxime! Numquam, laborum facilis asperiores sequi ad omnis ullam magnam iure
    atque cum amet nostrum harum eum soluta excepturi, odit quaerat? Cupiditate
    atque maxime fugit culpa labore sed quis repellat, vel aut molestias maiores
    quaerat amet deleniti.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim in debitis
    odio similique dolores. Fugiat molestias est repudiandae quidem incidunt
    temporibus, optio ea autem eius totam harum maiores at explicabo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, soluta!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cumque
    doloribus atque cupiditate minima laudantium esse dolore ducimus
    repellendus? Ab qui quaerat eaque provident! Obcaecati officia non eos neque
    maxime at voluptatum! At amet, illo fugit velit natus facilis aut excepturi
    ipsum! Dolorum totam molestias itaque sed? Modi non eius architecto maiores,
    doloribus voluptas illo eveniet quos amet illum ab quisquam quis, explicabo
    maxime! Numquam, laborum facilis asperiores sequi ad omnis ullam magnam iure
    atque cum amet nostrum harum eum soluta excepturi, odit quaerat? Cupiditate
    atque maxime fugit culpa labore sed quis repellat, vel aut molestias maiores
    quaerat amet deleniti.
  </p>
</main>
